@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --sidebar-inline-padding: 1rem;
  --sidebar-mask: linear-gradient(
    90deg,
    #000,
    #000 84%,
    transparent 89%,
    transparent
  );
  --white: #fff;
  --black: #000;
  --gray-50: #f9f9f9;
  --gray-100: #ececec;
  --gray-200: #e3e3e3;
  --gray-300: #cdcdcd;
  --gray-400: #b4b4b4;
  --gray-500: #9b9b9b;
  --gray-600: #676767;
  --gray-700: #424242;
  --gray-750: #2f2f2f;
  --gray-800: #212121;
  --gray-900: #171717;
  --gray-950: #0d0d0d;
  --red-500: #ef4444;
  --red-700: #b91c1c;
  --brand-purple: #ab68ff;

  --main-surface-background: rgba(33, 33, 33, 0.9);
  --dot-color: var(--white);
  --text-primary: var(--gray-100);
  --text-secondary: var(--gray-400);
  --text-tertiary: var(--gray-500);
  --text-quaternary: var(--gray-600);
  --text-placeholder: hsla(0, 0%, 100%, 0.8);
  --text-error: #f93a37;
  --border-xlight: hsla(0, 0%, 100%, 0.05);
  --border-light: hsla(0, 0%, 100%, 0.1);
  --border-medium: hsla(0, 0%, 100%, 0.15);
  --border-heavy: hsla(0, 0%, 100%, 0.2);
  --border-xheavy: hsla(0, 0%, 100%, 0.25);
  --border-sharp: hsla(0, 0%, 100%, 0.05);
  --main-surface-primary: var(--gray-800);
  --main-surface-secondary: var(--gray-750);
  --main-surface-tertiary: var(--gray-700);
  --sidebar-surface-primary: var(--gray-900);
  --sidebar-surface-secondary: var(--gray-800);
  --sidebar-surface-tertiary: var(--gray-750);
  --sidebar-body-primary: #ededed;
  --sidebar-icon: #a4a4a4;
  --link: #7ab7ff;
  --link-hover: #5e83b3;
  --surface-error: 249 58 55;
  --composer-surface: rgba(50, 50, 50, 0.85);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  color: var(--text-primary);
  background: var(--main-surface-primary);
  font-family: Arial, Helvetica, sans-serif;
}
